
#annexe-flore {
    display: block; 
}


.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.list li {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(129, 212, 250, 0.1);
}