section {
     display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

/* Pour que chaque "item" (titre + image + texte) reste groupé */
.list li {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
}